@import '../../styles/variables';

.selected {
  font-size: $font-medium;
  width: 215px;
  font-size: 15px;
  color: $theme_black;
  height: 50px;
  border: solid $theme_white 1px;
  padding: 8px;
}
.selected option {
  font-size: $font-medium;
  width: 215px;
  font-size: 15px;
  color: $theme_black;
  height: 50px;
  border: solid $theme_white 1px;
  padding: 8px;
}
