@import '../../styles/variables';

.container {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: $theme_white;
  opacity: 0.8;
  z-index: 99;

   :global {
    .loader {
      position: fixed;
      left: calc(50% - 25px);
      top: calc(50% - 25px);
      z-index: 99;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: transparent;
      border-top: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $theme_dark_red;
      border-left: 5px solid $theme_dark_red;
      animation: loading 1s infinite linear;
    }
  }

  &.show {
    display: block;
  }
}

.loaderText {
  font-size: 20px;
  color: $theme_dark_red;
  position: absolute;
  top: 33vh;
  left: 45vw;
  font-weight: bold;
}

@media screen and (max-width: $mobile_breakpoint) {
  .loaderText {
    left: 20vw;
  }
}
