@import '../../styles/variables';

.container {
  background-color: $theme_white;
   :global {
    .performace-chart {
      align-items: center;
      padding-top: 10px;
    }
  }
}

.teamSelectorContainer {
  display: flex;
  justify-content: left;
  padding: 20px 40px 20px 40px;
}

.whiteLogo {
  height: 160px;
  margin-right: 30px;
}

.dropDownContainer {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectText {
  color: white;
  font-size: 20px;
  text-align: start;
  padding: 10px;
}

@media screen and (max-width: $mobile_breakpoint) {
  .teamSelectorContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .whiteLogo {
    height: 160px;
    margin-right: 13px;
    width: 110px;
  }
}

:global {
  .react-tabs__tab--selected {
    border: none!important;
    border-radius: 5px !important;
    margin: 10px !important;
    padding: 15px;
    background-color: $theme_blue !important;
    color: $theme_white !important;
  }
  .react-tabs__tab--list {
    border: none !important;
  }
}
