// Color variables
$theme_dark_red: #ca0716;
$theme_grey_light: #e8e8e8;
$theme_background_grey: #f8f8f8;
$theme_white: #ffffff;
$theme_text_grey: #606060;
$theme_yellow:#fbff5b;
$theme_green:#3ec654;
$theme_black: #000000;
$theme_red: #980411;
$theme_orange:#F18625;
$theme_purple:#7824EF;
$theme_grey:#7F7F7F;
$theme_blue:#293771;
$theme_pink: #f9e2e3;



//Font Size Variables
$font-xs: 10px;
$font-small: 12px;
$font-medium: 15px;
$font-large: 18px;

//mobile breakpoint for css
$mobile-breakpoint: 768px;