@import '../../styles/variables';

.container {
  background-color: $theme_light_green;
  :global {
    .performace-chart {
      align-items: center;
      padding-top: 10px;
    }
  }
}
.dropDownContainer {
  text-align: end;
  display: flex;
  padding: 20px;
}
.flexAround{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectText {
  color: white;
  font-size: 20px;
  text-align: start;
  padding: 10px;
}
.number {
  font-size: 60px;
  color: $theme_blue;
  padding: 20px;
  width: 20vw;
}
.mediumText {
  color: $theme_black;
  font-size: 20px;
  padding: 20px;
}
@media screen and (max-width: $mobile_breakpoint) {
.flexAround{
  display: block;
}
.number{
  font-size: 50px;
  width: 49vw;
}
.mediumText{
  font-size: 14px;
}
.selectText{ 
  font-size: 14px;
}
}