@import '../../styles/variables';

.container {
  min-height: 100px;
  margin: 0 auto 15px;
  border-radius: 5px;
  border: 1px solid $theme_grey_light;
  background-color: $theme_white;

  :global {
    .card-title {
      border-bottom: 1px solid $theme_grey_light;
      height: 40px;
      font-size: $font-medium;
      color: $theme_dark_red;
    }
  }
}
