@import '../../styles/variables';

.container {
  height: 40vh;
  margin: 0 auto 15px;
  border-radius: 5px;
  border: 1px solid $theme_grey_light;
  background-color: $theme_blue;

   :global {
    .card-title {
      border-bottom: 1px solid $theme_grey_light;
      height: 40px;
      font-size: $font-medium;
      color: $theme_dark_red;
    }
  }
}

.selectorCardContainer{
  height: 200px;
  background-color: $theme_blue;
  border: 1px solid $theme_grey_light;
}
.carousal {
  background-color: $theme_blue;
}

.tile {
  background-color: $theme_white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
  margin: 20px;
  padding: 20px 20px 0 20px;
  height: 45vh;
  width: 25vw;
  overflow: hidden;
  cursor: pointer;
}
.tile:hover {
  transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2), 0 10px 22px 0 rgba(0, 0, 0, .15);
}
.tileImages {
  height: 250px;
  width: 100%
}

.cardText{
  color: $theme_blue;
  font-size: 16px;
  padding: 8px;
  text-align: center;
}
@media screen and (max-width: $mobile_breakpoint) {
  .tileImages {
    width: 100%;
    height: 30vh;
  }
  .tile{
    width: 89%;
    height: 300px;
    height: 40vh;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2), 0 10px 22px 0 rgba(0, 0, 0, .15);
  }
  .container{ 
    height: 250px;
  }
}
