@import '../../styles/variables';

.container {
  height: 50px;
  z-index: 2;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $theme_white;
  .headerText {
    color: $theme_blue;
    font-size: $font-large
  }
  .logo {
    width: 60px;
    cursor: pointer;
  }
}
