@import '../../styles/variables';

.container {
  background-color: $theme_light_green;
  :global {
    .performace-chart {
      align-items: center;
      padding-top: 10px;
    }
  }
}
.selectText {
  color: white;
  font-size: 20px;
  text-align: start;
  padding: 10px;
}
.dropDownContainer {
  text-align: end;
  display: flex;
  padding: 40px;
  flex-direction: column;
}
@media screen and (max-width: $mobile_breakpoint) {
.selectText{ 
  font-size: 14px;
}
}
